

html.app.jacket-wrapper, html.app.jacket-wrapper body, html.app.jacket-wrapper body #outer {
	height: 100%;
	}	

html.android {
	text-rendering: auto;
	}

.app nav.slideout {
	background-color: $alternateBackgroundColor;
	color: $alternateTextColor;
	opacity: 1;
	width: 100%;
	position: absolute;
	min-height: 100%;
	z-index: auto;
	}
	
.app nav.slideout li a {
	color: $navLinkColor;
	}

.app nav.slideout li a.current-nav {
	color:$navLinkColor-hover;
	}

.app nav.slideout li.chapterSet-hidden-nav {
	display: none;
	}
		
.app .nav-story-title a, .app .no-touch nav li:hover a, .app .no-touch .nav-story-title:hover a {
	color: $navLinkColor-hover;
	}			

@media screen and (max-width: $mediumBreakpoint) {

	.app .nav-menu-button rect {
		fill: #999;
		}	

	.app .nav-menu-button path, .app .nav-menu-button:hover path {
		fill: $alternateTextColor;
		}
	}

body.app .story-cover {
	min-height: 100%;
	}	


// MORE SLIDEOUT NAV STUFF? 


/* APP STYLES */			

.app nav.slideout a, .app .no-touch nav.slideout a:hover {
	border-bottom: none;
	}
	
.app .nav-above-in-view {
	z-index: 1;
	}	

.app article.nav-revealed, .app .nav-menu-button.nav-revealed, .app .left-arrow.nav-revealed {
	@include transform(translateX($navWidth));
	}

.app article.nav-revealed3d, .app .nav-menu-button.nav-revealed3d, .app .left-arrow.nav-revealed3d {
	@include transform(translateX($navWidth) translateZ(0));
	}			
	
.app .nav-story-title {
	font-size: 1.65rem;
	font-weight: 600;
	padding: 0 1rem;
	}	

.app nav.slideout ol {
	list-style: none;
	padding: 0 1rem;
	margin: 1rem 0;
	}

.app nav.slideout li {
	padding: 1rem 0;
	font-size: 1.2em;
	}

.app .nav-story-title a:after {
	content: "\00A0\2191";
	font-size: 0.75em;
	opacity: 0;			
	}

.app .no-touch .nav-story-title a:hover:after {
	opacity: 0.375;
	}	

.app .nav-share-and-soundtrack-icons {
	display: block;
	}				
	
.app .mobile-nav-icons {
	display: none;
	margin-bottom: 2em;
	margin-top: -0.75em;
	}

.app .mobile-nav-icons a {
	margin-right: 0.5em;
	opacity: 0.25;
	}

.app .mobile-nav-icons a:hover {
	opacity: 0.75;
	}

.app .mobile-nav-icons .template-icon path, .app .mobile-nav-icons .template-icon:hover path {
	stroke: none;
	fill: #f5f5f5;
	fill-opacity: 1;
	}

.app .atavist-soundcloud {
  display: none;
}

@media screen and (max-width: $mediumBreakpoint) {
	
	.app .nav-share-and-soundtrack-icons {
		display: none;
		}

	.app .mobile-nav-icons {
		display: block;
		}

	.app .nav-menu-button {
		opacity: 0.75;
		top: 0.97rem;
		margin-left: 0.9rem;
		}	

	.app .nav-menu-button svg {
		width: 28px;
		height: 28px;
		}	

	.app .nav-menu-button path, .app .nav-menu-button:hover path {
		stroke: none;
		fill-opacity: 1;
		}
	}								